# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Test and coverage outputs
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables and config
.env
.env.*

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# MyPy
.mypy_cache/

# PyInstaller
*.spec

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Terraform plan files
*.tfplan

# Sensitive override files
*.tfvars
*.tfvars.json

# Local-only config
.terraform/
.terraform.lock.hcl

# Credentials
slack-bot-tf-f1aa92d0d876.json
